env.json
*.iml
.idea
node_modules/*
test/


# Added by Homey CLI
/.homeybuild/
.vs/homey-smartpresence/FileContentIndex/2712b935-7dd8-4ab7-ba8b-790ee9efc175.vsidx
.vs/homey-smartpresence/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
